@charset "UTF-8";
.AllContnt .BkHdr {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }
  .AllContnt .BkHdr .Hdr {
    padding-top: 22px !important;
    margin-bottom: 0px !important;
    font-weight: bold; }
  .AllContnt .BkHdr .header {
    margin-bottom: 0px; }
  .AllContnt .BkHdr p {
    margin-bottom: 45px;
    padding-bottom: 19px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.58; }
.AllContnt .LoginCont {
  padding-bottom: 42px; }
  .AllContnt .LoginCont .Loginsec {
    width: 87%;
    margin: 0 auto; }
    .AllContnt .LoginCont .Loginsec .LoginContnt [type='checkbox'] {
      position: relative;
      top: 10px;
      margin-right: 5px; }
    .AllContnt .LoginCont .Loginsec .LoginContnt .Bylogin {
      font-weight: 600; }
      .AllContnt .LoginCont .Loginsec .LoginContnt .Bylogin label {
        font-size: 10.5px;
        line-height: 3;
        text-align: left;
        color: #309de0;
        text-decoration: underline;
        cursor: pointer; }
    .AllContnt .LoginCont .Loginsec .LoginContnt .LognBtn {
      width: 100%;
      background-color: #309de0;
      border-radius: 5px;
      border: none;
      line-height: 2.89;
      margin: 12px 0px;
      color: white;
      font-size: 14px;
      font-weight: bold; }
    .AllContnt .LoginCont .Loginsec .LoginContnt .ResponsiveCreateAccountBtn {
      width: 100%;
      background-color: white;
      border-radius: 5px;
      line-height: 3;
      margin: 12px 0px;
      font-size: 14px;
      font-weight: bold;
      border: 1px solid #309de0;
      color: #309de0; }
    .AllContnt .LoginCont .Loginsec .LoginContnt .ResponsiveCreateAccountTxt {
      margin-top: -3px; }
    .AllContnt .LoginCont .Loginsec .LoginContnt .RmmberLost {
      line-height: 2.86;
      padding: 19px 0px;
      font-size: 11px; }
      .AllContnt .LoginCont .Loginsec .LoginContnt .RmmberLost .RemmberMe {
        opacity: 0.61; }
      .AllContnt .LoginCont .Loginsec .LoginContnt .RmmberLost .checkbox.ui {
        margin-top: 10px;
        width: 100%; }
      .AllContnt .LoginCont .Loginsec .LoginContnt .RmmberLost .ui.checkbox label {
        font-size: 11px; }
      .AllContnt .LoginCont .Loginsec .LoginContnt .RmmberLost .LostPass {
        float: right;
        color: #309de0;
        font-weight: 600;
        text-decoration: underline;
        padding-top: 5px;
        cursor: pointer; }
.AllContnt .createAccount {
  width: 87%;
  margin: 0 auto; }
  .AllContnt .createAccount .AYKMailLogo {
    width: 100%;
    height: 73px;
    text-align: center;
    margin: 0 auto; }
  .AllContnt .createAccount .RegisterTxt {
    opacity: 0.6;
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
    width: 98%;
    text-align: center;
    margin: 0 auto;
    height: 93px;
    max-height: 93px; }
  .AllContnt .createAccount .creatAccBtn {
    width: 100%;
    background-color: #309de0;
    width: 100%;
    border-radius: 5px;
    border: none;
    line-height: 2.89;
    color: white;
    font-size: 14px;
    font-weight: bold; }

@media screen and (min-width: 1025px) {
  .BkHdr {
    background-color: #f7f7f7; }

  .Loginsec:after {
    content: "";
    background-color: #d9d9d9;
    position: absolute;
    width: 1px;
    height: 64%;
    top: 35%;
    left: 100%;
    display: block; }

  .ResponsiveCreateAccountBtn, .ResponsiveCreateAccountTxt {
    display: none; }

  .LoginContnt,
  .crteAcuntSec {
    padding: 0px 30px; } }
@media screen and (max-width: 1024px) {
  .ResponsiveCreateAccountBtn, .ResponsiveCreateAccountTxt {
    display: block; }

  .dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
    padding: 0px; }

  .AllContnt .LoginContnt,  .AllContnt .crteAcuntSec  {
    padding: 0px 10px; }

  .AllContnt .BkHdr p {
    margin-bottom: 15px; }

  .AllContnt .LoginCont .Loginsec .LoginContnt .RmmberLost {
    line-height: 0.8;
    padding: 12px 0px;
    padding-bottom: 34px; }

  .AllContnt .LoginCont .Loginsec {
    width: 90%;
    margin: 0 auto; }

  .AllContnt .LoginCont .Loginsec .LoginContnt .RmmberLost .LostPass {
    padding-top: 16px; }

  .Bylogin {
    margin-bottom: 21px;
    margin-top: 0px; }

  .AllContnt .LoginCont {
    border-bottom: 1px solid #00000024;
    padding-bottom: 23px; }

  .connectWith {
    margin-bottom: 10px; } }
@media only screen and (max-width: 991px) and (min-width: 770px) {
  .AllContnt .LoginCont .Loginsec {
    width: 100%;
    margin: 0 auto; } }
@media screen and (max-width: 425px) {
  .LoginColmn {
    padding: 0px !important; }

  .AllContnt .LoginCont .Loginsec {
    width: 100%; } }
@-moz-document url-prefix() {
  .AllContnt .createAccount .RegisterTxt {
    height: 91px;
    max-height: 91px; } }
.allSocialMedia {
  height: 63px;
  justify-content: center !important; }

.faceBok {
  background-color: #3b5998;
  color: white;
  border-radius: 4px;
  padding-top: 5px;
  font-weight: bold; }
  .faceBok i {
    font-size: 17px !important;
    margin-right: 0px; }

.Tiwiter {
  background-color: #1da1f2;
  color: white;
  border-radius: 4px;
  padding-top: 5px;
  font-weight: bold; }
  .Tiwiter i {
    font-size: 17px !important;
    margin-right: 0px; }

.Google {
  background-color: #db4437;
  color: white;
  border-radius: 4px;
  padding-top: 5px;
  font-weight: bold; }
  .Google i {
    font-size: 17px !important;
    margin-right: 0px; }

.Insta {
  color: white;
  padding: 15px 12px;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  border-radius: 4px;
  padding-top: 5px;
  font-weight: bold;
  margin-right: 0px !important; }
  .Insta i {
    font-size: 23px !important;
    margin-right: 0px; }

.connectWith {
  font-size: 10px;
  font-weight: bold;
  line-height: 1.6;
  color: #000000;
  margin-top: 25px !important;
  margin-bottom: 15px;
  font-weight: bold; }

.SocialMediaCont {
  width: 52%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .SocialMediaCont .SvgCont {
    margin-top: 4px;
    margin-right: 3px; }
  .SocialMediaCont .SmFontSocial {
    font-size: 10px;
    margin-bottom: 0; }
  .SocialMediaCont .LgFontSocial {
    font-size: 11px;
    margin-bottom: 0;
    line-height: 1; }

@media screen and (min-width: 1025px) {
  .faceBok, .Google, .Insta, .Tiwiter {
    width: 23% !important;
    margin-right: 6px;
    padding: 0px 9px !important; }

  .IconsCont {
    padding-top: 3px;
    display: inline-block;
    text-align: left; } }
@media screen and (max-width: 1024px) {
  .SocialMediaCont {
    width: 100%;
    margin-bottom: 32px; }
    .SocialMediaCont .SvgCont {
      margin: 0 auto;
      position: relative;
      top: -10px; }
    .SocialMediaCont .faceBok, .SocialMediaCont .Google, .SocialMediaCont .Insta, .SocialMediaCont .Tiwiter {
      width: 46px !important;
      height: 46px !important;
      margin-right: 6px;
      text-align: left !important;
      padding: 23px 0px; }
    .SocialMediaCont .IconsCont {
      display: none; }
    .SocialMediaCont .connectWith {
      margin-bottom: 8px; } }
.content {
  padding: 0px !important; }

.CreateAccContainer {
  padding: 21px;
  padding-bottom: 0px; }

.LoginContainer {
  padding: 17px;
  padding-bottom: 20px; }

.svgBg {
  position: absolute;
  top: 0px;
  right: -16%;
  height: 100%; }

.nationalitySelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: 1.2 !important;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #fff, #fff) !important;
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em !important;
  background-size: 5px 5px, 5px 5px, 1px 1.5em !important;
  background-repeat: no-repeat !important; }

.AllRegCont {
  padding: 20px 20px 4px 5px; }
  .AllRegCont .RegisterHdrCont {
    padding-bottom: 80px; }
    .AllRegCont .RegisterHdrCont .bkBtn {
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: rgba(38, 38, 38, 0.3);
      float: left;
      cursor: pointer; }
      .AllRegCont .RegisterHdrCont .bkBtn .BkTxt {
        text-decoration: underline;
        cursor: pointer; }
    .AllRegCont .RegisterHdrCont .hdrCont h3 {
      margin: 0;
      text-align: center;
      color: #262626;
      font-weight: bold; }
    .AllRegCont .RegisterHdrCont .hdrCont p {
      font-size: 12px;
      line-height: 1.58;
      text-align: center;
      color: #7c7a71;
      margin-right: -36px; }
  .AllRegCont .TwoSides {
    padding: 0px 30px; }
    .AllRegCont .TwoSides .codeSelected {
      position: relative;
      top: -4px;
      left: 3px; }
    .AllRegCont .TwoSides #borderrBtom {
      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 15px !important; }
      .AllRegCont .TwoSides #borderrBtom .phoneSlctCont {
        width: 40% !important;
        padding: 0px !important; }
        .AllRegCont .TwoSides #borderrBtom .phoneSlctCont .phoneSelect {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0; }
      .AllRegCont .TwoSides #borderrBtom .phoneInpCont {
        width: 60% !important;
        padding-right: 0px !important; }
      .AllRegCont .TwoSides #borderrBtom .padd4 {
        padding-left: 4px !important; }
      .AllRegCont .TwoSides #borderrBtom .GenderData input {
        display: none; }
      .AllRegCont .TwoSides #borderrBtom .GenderData img {
        cursor: pointer;
        position: relative;
        top: 1px; }
      .AllRegCont .TwoSides #borderrBtom .GenderData .genderLblCont {
        width: 30%;
        float: left;
        padding-top: 9px; }
      .AllRegCont .TwoSides #borderrBtom .GenderData .MaleSvg {
        margin-right: 11px; }
      .AllRegCont .TwoSides #borderrBtom .phoneInp {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        top: 0px; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData ul {
        height: 100px;
        overflow: auto; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown {
        display: inline-block;
        position: relative;
        margin: 0px;
        font-size: 16px;
        width: 100%; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown-button {
        margin: 0;
        outline: 0;
        line-height: 0.9914286em;
        padding: 0.37857143em 1em;
        font-size: 12px;
        background: #fff;
        border: 1px solid rgba(34, 36, 38, 0.15);
        color: rgba(0, 0, 0, 0.87);
        border-radius: 1.8571429rem;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0;
        position: relative;
        cursor: pointer;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        padding-left: 9px;
        height: 35px;
        max-height: 35px; }
        .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown-button img {
          position: relative;
          top: 1.4px; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData .triangle {
        font-size: 50%;
        position: absolute;
        right: 10px;
        top: -17px;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: 5px;
        color: black;
        cursor: pointer; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown ul {
        visibility: visible;
        transition: all .3s ease;
        transform: scaleY(1);
        color: #333;
        height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 100;
        transform-origin: top;
        padding: 0;
        list-style: none;
        background-color: white;
        box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 0;
        margin-top: 0px;
        top: 100%;
        width: 232px; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData .Arrowul {
        content: "";
        height: 11px;
        width: 11px;
        background: #fff;
        position: absolute;
        top: 42px;
        left: 50px;
        -webkit-transform: rotate(134deg);
        -ms-transform: rotate(134deg);
        transform: rotate(134deg);
        border-left: 1px solid #d4d4d5bd;
        border-bottom: 1px solid #d4d4d5bd;
        z-index: 1000; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown li {
        background: #fff;
        padding: 8px 5px;
        box-sizing: border-box;
        cursor: pointer;
        transition: background .2s ease;
        position: relative;
        font-size: 13px;
        border-bottom: 1px solid #f5f5f5;
        min-height: 40px; }
        .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown li .imgCountry {
          position: relative;
          top: 0px;
          width: 10%;
          float: left; }
        .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown li .countryName {
          width: 67%;
          float: right;
          display: inherit; }
        .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown li .codeLbl {
          float: right;
          padding-top: 0px;
          width: 20%;
          display: inherit; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown li.check {
        background: #f6f6f6; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown li.check:after {
        content: '';
        position: absolute;
        height: 15px;
        width: 3px;
        background: #ccc;
        top: 0;
        bottom: 0;
        margin-top: auto;
        transform: rotate(40deg);
        margin-bottom: auto;
        right: 15px; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown li.check:before {
        content: '';
        position: absolute;
        height: 3px;
        width: 9px;
        background: #ccc;
        top: 6px;
        bottom: 0;
        margin-top: auto;
        transform: rotate(40deg);
        margin-bottom: auto;
        right: 19px; }
      .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown li:hover {
        background: #f6f6f6;
        transition: background .2s ease; }
      .AllRegCont .TwoSides #borderrBtom .eye.icon {
        position: absolute;
        right: 24px;
        top: 9px;
        cursor: pointer; }
      .AllRegCont .TwoSides #borderrBtom #SecondSide {
        text-align: center;
        width: 35% !important;
        padding: 20px; }
        .AllRegCont .TwoSides #borderrBtom #SecondSide .RegisterBtn {
          background-color: #309de0;
          width: 97%;
          border-radius: 5px;
          border: none;
          line-height: 2.89;
          color: white;
          font-size: 14px;
          font-weight: bold;
          float: right;
          margin-top: 11px; }
        .AllRegCont .TwoSides #borderrBtom #SecondSide .chlBxCont {
          margin-left: 13px;
          margin-top: 45px;
          text-align: left; }
        .AllRegCont .TwoSides #borderrBtom #SecondSide h3 {
          margin: 0;
          margin-top: 11px;
          font-size: 14px;
          text-align: left;
          color: #808285;
          margin-bottom: 10px; }
        .AllRegCont .TwoSides #borderrBtom #SecondSide p {
          font-size: 11px;
          text-align: left;
          color: rgba(128, 130, 133, 0.7);
          width: 95%;
          margin-left: 10px;
          margin-top: 4px; }

#input {
  border-radius: 0px;
  margin: 7px;
  width: 93%;
  padding: 7px; }

.AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown li:first-child:hover {
  background: white; }

.FooterTxt {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: #808285;
  padding-bottom: 16px;
  padding-top: 15px;
  background-color: #faf9f9; }
  .FooterTxt .LoginLbl {
    color: #309de0;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #309de0;
    margin-left: 6px; }

@media screen and (min-width: 1025px) {
  .bkBtn {
    display: inline-block; }

  .CreateVeriCont {
    background-image: url("../../assets/images/BackGroundImgs/-e-Ellipse-popup-bg@1x.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain; }

  #firstSide {
    width: 65% !important;
    padding: 20px; }
    #firstSide .column {
      padding: 0px 6px; }

  #firstSide:after {
    content: "";
    background-color: #d9d9d9;
    position: absolute;
    width: 1px;
    height: 94%;
    top: 4%;
    left: 100%;
    display: block; }

  .dropdown {
    padding: 0px; } }
@media screen and (max-width: 1024px) {
  .CreateAccContainer {
    padding: 17px;
    padding-bottom: 0px; }
    .CreateAccContainer .bkBtn {
      display: none; }
    .CreateAccContainer .hdrCont {
      padding-right: 0px; }
    .CreateAccContainer .AllRegCont {
      padding: 6px 15px;
      margin: 0px 22.5px; }
      .CreateAccContainer .AllRegCont .RegisterHdrCont {
        padding-bottom: 47px; }
        .CreateAccContainer .AllRegCont .RegisterHdrCont .hdrCont p {
          margin-right: 0px; }
      .CreateAccContainer .AllRegCont .TwoSides {
        padding: 0 !important;
        width: 92%;
        margin: 0 auto !important; }
        .CreateAccContainer .AllRegCont .TwoSides #firstSide {
          padding: 0px !important; }
        .CreateAccContainer .AllRegCont .TwoSides #borderrBtom {
          padding-bottom: 38px !important; }
          .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .GenderData .genderLblCont {
            width: 13%;
            float: left;
            padding-top: 9px; }
          .CreateAccContainer .AllRegCont .TwoSides #borderrBtom #SecondSide {
            text-align: left;
            width: 104% !important;
            padding: 0px;
            position: relative;
            left: -2%; }
            .CreateAccContainer .AllRegCont .TwoSides #borderrBtom #SecondSide p {
              margin-left: 0px;
              width: 100%;
              margin-top: 10px; }
            .CreateAccContainer .AllRegCont .TwoSides #borderrBtom #SecondSide .chlBxCont {
              margin-left: 0px;
              margin-top: 25px;
              text-align: left; }
            .CreateAccContainer .AllRegCont .TwoSides #borderrBtom #SecondSide .RegisterBtn {
              width: 100%;
              margin-top: 33px; }
          .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown ul {
            width: 100%; }
            .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown ul li .countryName {
              width: 80%; }
            .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown ul li .codeLbl {
              width: 12%; }
            .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown ul li .imgCountry {
              width: 8%; }
          .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .CountriesData .Arrowul {
            top: 40px; }

  .FooterTxt {
    margin-top: 16px; } }
@media screen and (min-width: 922px) and (max-width: 1024px) {
  .GenderData .genderLblCont {
    width: 10% !important;
    float: left;
    padding-top: 9px; } }
@media screen and (min-width: 426px) and (max-width: 1024px) {
  .mobPadd0 {
    padding: 0px !important; } }
@media screen and (max-width: 425px) {
  .CreateAccContainer .AllRegCont {
    padding: 3px 1px;
    margin: 0px; }
    .CreateAccContainer .AllRegCont .TwoSides {
      width: 100%; }
      .CreateAccContainer .AllRegCont .TwoSides .GenderData .genderLblCont {
        width: 21% !important;
        float: left;
        padding-top: 9px; }
      .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown ul {
        width: 100%; }
        .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown ul li .countryName {
          width: 75%; }
        .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown ul li .codeLbl {
          width: 15%; }
        .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .CountriesData .dropdown ul li .imgCountry {
          width: 8%; }
      .CreateAccContainer .AllRegCont .TwoSides #borderrBtom .CountriesData .Arrowul {
        top: 40px; }

  .mobPadd0 {
    padding: 0px 6px !important; } }
@media screen and (max-width: 991px) and (min-width: 770px) {
  .CreateAccContainer .TwoSides {
    width: 95% !important; } }
.VerfyAccCont {
  text-align: center; }
  .VerfyAccCont .PaddingSides {
    padding: 20px 70px 0px 70px; }
    .VerfyAccCont .PaddingSides .borderCont {
      border-bottom: 1px solid #d9d9d9;
      padding-bottom: 10px; }
      .VerfyAccCont .PaddingSides .borderCont .VerfyAcc {
        width: 60%;
        margin: 0 auto; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc h3 {
          margin-bottom: 0px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .emailVerify {
          padding-right: 4px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .smsVerify {
          padding-left: 4px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc ul li {
          text-align: left; }
          .VerfyAccCont .PaddingSides .borderCont .VerfyAcc ul li label {
            font-size: 11px;
            color: rgba(0, 0, 0, 0.5); }
          .VerfyAccCont .PaddingSides .borderCont .VerfyAcc ul li strong {
            margin-right: 6px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc p {
          font-size: 12px;
          line-height: 1.58;
          text-align: center;
          color: rgba(124, 122, 113, 0.7); }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc button {
          width: 100%;
          background-color: #309de0;
          width: 100%;
          border-radius: 5px;
          border: none;
          line-height: 3;
          margin: 12px 0px;
          color: white;
          font-size: 14px;
          font-weight: bold; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc svg, .VerfyAccCont .PaddingSides .borderCont .VerfyAcc img {
          margin: 25px 0px;
          margin-bottom: -4px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify p {
          margin-bottom: 15px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify img {
          margin-bottom: 24px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify .CodeContainer {
          width: 70%;
          margin: 0 auto; }
          .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify .CodeContainer .ResendCont {
            margin-bottom: 10px; }
            .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify .CodeContainer .ResendCont .QouteFoter {
              font-size: 12px;
              line-height: 2.46;
              text-align: left;
              color: rgba(0, 0, 0, 0.7); }
            .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify .CodeContainer .ResendCont .Resend {
              font-size: 12px;
              font-weight: bold;
              line-height: 2.46;
              text-align: left;
              color: #309de0;
              text-decoration: underline;
              cursor: pointer;
              margin-left: 6px; }

@media screen and (max-width: 1024px) {
  .VerfyAccCont .PaddingSides {
    padding: 10px 10px;
    padding-bottom: 0px; }
    .VerfyAccCont .PaddingSides .borderCont {
      padding-bottom: 21px; }
      .VerfyAccCont .PaddingSides .borderCont .VerfyAcc {
        width: 90%;
        margin: 0 auto; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify .CodeContainer {
          width: 90%; }
          .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify .CodeContainer #Code {
            margin-bottom: 5px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify img {
          margin-bottom: 11px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc img {
          margin: 33px 0px;
          margin-bottom: -14px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc p {
          line-height: 1.98; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .EmailOrSms button {
          margin-bottom: 25px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify button {
          margin-bottom: 15px; }
        .VerfyAccCont .PaddingSides .borderCont .VerfyAcc ul li {
          text-align: left;
          margin-bottom: 6px; } }
@media screen and (max-width: 425px) {
  .VerfyAccCont .PaddingSides .borderCont .VerfyAcc {
    width: 100%;
    margin: 0 auto; }

  .VerfyAccCont .PaddingSides .borderCont .VerfyAcc .SmsOrEmailVerify .CodeContainer {
    width: 100%; } }
.LoaderCont {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  top: 0; }
  .LoaderCont p {
    margin-top: 12px;
    position: relative;
    top: 53%;
    color: #309de0;
    text-align: center;
    font-size: 14px; }

.lds-default {
  display: inline-block;
  position: absolute;
  width: auto;
  height: 64px;
  left: 47%;
  top: 41%; }

.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #309de0;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite; }

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px; }

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px; }

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px; }

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px; }

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px; }

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px; }

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px; }

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px; }

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px; }

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px; }

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px; }

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px; }

@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); } }
@media screen and (max-width: 1024px) {
  .lds-default {
    left: 45%; }

  .LoaderCont p {
    left: auto !important;
    text-align: center;
    top: 50% !important; } }
@media screen and (max-width: 425px) {
  .lds-default {
    left: 39%;
    top: 38%; } }

/*# sourceMappingURL=AccountManagement.css.map */
