@charset "UTF-8";
body {
  background: #f8f7f7 !important; }

.ui.modal {
  top: auto !important;
  left: auto !important; }

.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 1; }

.modal .TextCenter {
  text-align: center; }
.modal .MarginTop0 {
  margin-top: 0px !important; }
.modal .padd0 {
  padding: 0 !important; }
.modal .paddR0 {
  padding-right: 0px !important; }
.modal .fontSize11 {
  font-size: 11px; }
.modal select:required:invalid {
  color: #999; }
.modal option[value=””][disabled] {
  display: none; }
.modal option {
  color: #000; }
.modal input[type="text"]:focus,
.modal input[type="password"]:focus,
.modal input[type="email"]:focus,
.modal select:focus, .modal .dropdown-button:focus {
  border: 1px solid #319de0 !important; }
.modal input[type="text"],
.modal input[type="password"],
.modal input[type="email"],
.modal select {
  font-family: Panton;
  margin: 0;
  outline: 0;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 0.51428571em;
  padding: 0.67857143em 1em;
  font-size: 12px;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 1.8571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  width: 100%;
  margin-bottom: 12.5px;
  padding-top: 10.6px; }
.modal input:-webkit-autofill,
.modal textarea:-webkit-autofill,
.modal select:-webkit-autofill {
  background-color: #fff !important; }
.modal input[type="checkbox"] {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  width: 18px;
  height: 18px;
  margin: 0;
  margin-right: 1px;
  display: block;
  float: left;
  position: relative;
  cursor: pointer;
  border-radius: 4px; }
.modal input[type="checkbox"]:after {
  content: "";
  vertical-align: middle;
  text-align: center;
  line-height: 15px;
  position: absolute;
  cursor: pointer;
  height: 17px;
  width: 17px;
  left: 0;
  top: 0;
  font-size: 18px;
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #b7b7b7; }
.modal .ui.checkbox input:checked ~ .box::after, .modal .ui.checkbox input:checked ~ label::after {
  color: #f89101; }
.modal input[type="checkbox"]:focus {
  outline-color: white !important; }
.modal .closePopup {
  position: absolute;
  right: -8px;
  top: -39px;
  color: white;
  font-weight: lighter;
  cursor: pointer;
  font-size: 1.5em !important;
  display: inline-block; }
.modal .closeSvg {
  position: absolute;
  right: 4px;
  z-index: 1;
  display: none;
  background: none;
  border: none;
  top: 20px;
  outline-color: transparent; }
  .modal .closeSvg img {
    width: 32%; }
.modal .ErrorMsg {
  font-family: Panton;
  font-size: 10px !important;
  text-align: left !important;
  color: #ff0000 !important;
  margin-bottom: 6px !important; }
.modal .SuccessMsg {
  font-family: Panton;
  font-size: 12px !important;
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 0px !important;
  background-color: #fcfff5;
  color: #2c662d !important; }
.modal button {
  outline-color: white;
  cursor: pointer; }

.loader {
  border: 6px solid #adadad;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: 50%; }

.ui.modal > .actions {
  background: white;
  padding: 0px !important;
  border-top: none;
  text-align: right;
  margin-top: 15px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@media screen and (min-width: 1025px) {
  .ui.modal {
    height: 550px; } }
@media only screen and (max-width: 1024px) {
  .closePopup {
    display: none !important; }

  .closeSvg {
    display: inline-block !important; }

  .modals.dimmer .ui.scrolling.modal {
    margin: 0em auto !important; }

  .ui.modal {
    width: 100% !important;
    left: 2.5% !important;
    min-height: 100%; }

  .ui.modal > .icon:first-child + *, .ui.modal > :first-child:not(.icon) {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

  .ui.modal > .content, .ui.modal .content > .description {
    padding: 0 !important; }

  .ui.modal > .content {
    height: 100% !important;
    padding-bottom: 47px !important; }

  .actions {
    position: absolute;
    bottom: 0px;
    width: 100%; }

  .modal input[type="text"], .modal input[type="password"], .modal input[type="email"], .modal select {
    line-height: 1.314286em; } }
@media only screen and (max-width: 991px) {
  .modals.dimmer .ui.scrolling.modal {
    margin-top: 0 !important;
    margin-bottom: 0rem !important; } }
@-moz-document url-prefix() {
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    font-size: 13px !important; } }
/*
    fontello:sessions:v4
    {"font_size":16,"sessions":[{"name":"$current$","fontname":"","css_prefix_text":"icon-","css_use_suffix":false,"hinting":true,"encoding":"pua","font_fullname":"","font_units":1000,"font_ascent":850,"font_copyright":"","fonts":{"custom_icons":{"collapsed":false,"glyphs":[{"css":"bell","code":59397,"uid":"5af1de982dbb8ccf95206d2687911b19","search":["bell"],"svg":{"path":"M448.6 1000C432.8 995 416 991.9 401.3 984.7 359.9 964.4 335 930.7 325.6 885.8L323.6 876.4C301 874.7 278.5 873.3 256 871.2 191 864.8 126.2 856.6 63.1 838.5 4.2 821.6-19.1 756.4 17.5 707.5 50.1 663.8 81.7 619.4 107.1 571.1 134.3 519.3 154.1 465.2 160.1 406.8 162.3 385.1 161.7 363.2 164.6 341.6 174.3 266.5 209 204.3 265.9 154.1A283 283 0 0 1 354.7 100.8C360.8 98.6 363.5 95.8 364.3 88.6 369.2 39.3 413.9 0 464.3 0 515 0 559.7 39.5 564.6 89.4 565.3 95.6 567.5 98.1 573.1 100.4 668.1 138.9 730 207.2 757 305.2 763.7 329.7 766.5 355.8 767.2 381.3 769.1 449.7 791 512 822.1 571.8 846.5 618.5 876.3 661.6 908.5 703.3 938.9 742.7 934.4 792.8 897.8 822A89.5 89.5 0 0 1 867.6 837.6C816.9 852.5 764.8 861.5 712.1 867.1 679.8 870.5 647.4 872.8 615 875.6 611.8 875.9 608.6 876.5 604.9 877 601.4 899.7 594 920.7 580.6 939.3 557 972.3 525.2 992.3 484.7 998.4 483.1 998.6 481.7 999.4 480.2 1000H448.6ZM463.9 842.1C531.8 838.6 599.8 836.2 667.6 831.4A950.6 950.6 0 0 0 851.8 800.9C871.9 795.4 884.6 783.6 887.6 762.9 889.7 748.8 884 736.9 875.4 726 839.9 681.1 808.3 633.7 782.1 582.8 748.1 516.4 727.5 446.8 726.3 371.6 725.3 308 701 252.6 658.1 205.4A257.3 257.3 0 0 0 545.4 132.9C526.4 126.8 523.5 121.8 524.6 102.3A57.7 57.7 0 0 0 522.3 84 60.2 60.2 0 0 0 452.4 41.2C422.5 46.9 401.9 74.7 404.5 105.8 405.6 119 400.8 126.5 388.2 131.3 384.9 132.6 381.4 133.6 378 134.8A257 257 0 0 0 265 211.8C223.8 260.1 202.8 316 202 379.2A392.9 392.9 0 0 1 185.5 486.9C162 566 120.5 635.7 72.1 701.9 64.4 712.4 55.8 722.3 48.7 733.2 31.2 760.1 43.5 793.1 74.9 800.1 118.8 809.9 162.8 819.5 207.2 825.6 292.3 837.2 378 840 463.9 842.1ZM562.5 879.4H366.7C373.1 924 415.9 959.4 464 959.9 511.9 960.3 555.8 924.5 562.5 879.4Z","width":929}},{"css":"fb","code":59398,"uid":"634cfbdb7c1c65bbbd69eb21ae198e53","search":["fb"],"svg":{"path":"M500 999.9C223.9 999.9 0.1 776.1 0.1 500 0.1 223.9 223.9 0.1 500 0.1 776.1 0.1 999.9 223.9 999.9 500 999.9 776.1 776.1 999.9 500 999.9ZM500 45.5C249 45.5 45.5 249 45.5 500 45.5 751 249 954.5 500 954.5 751 954.5 954.4 751 954.4 500 954.4 249 751 45.5 500 45.5ZM519.2 356.4V404.4H629.4L614.4 500H519.2V788.5H424.4V500H365.7V404.3H424.4V346.5C424.4 268.5 447.7 212.2 533.1 212.2H634.7V307.6H563.2C527.3 307.6 519.2 331.5 519.2 356.4Z","width":1000}},{"css":"heart","code":59399,"uid":"8aa508c2898f5008c1cc80dbd0f7d4da","search":["heart"],"svg":{"path":"M1089.1 300C1073.5 138.5 951.9 21.3 799.7 21.3 698.4 21.3 605.5 72.6 553.3 154.8A280.5 280.5 0 0 0 312.8 21.2C160.6 21.2 39 138.4 23.4 300 22.1 307.2 17.1 344.7 32.5 406 54.6 494.3 105.8 574.7 180.5 638.3L553.1 956.3 932 638.4C1006.6 574.7 1057.9 494.4 1080 406 1095.4 344.7 1090.4 307.2 1089.1 300Z","width":1134}},{"css":"instagrame","code":59400,"uid":"a3711d6165ae9d4f0837485259a37a4b","search":["instagrame"],"svg":{"path":"M998.4 537.7C993.5 607.4 975 673.5 941.3 734.6 863.6 875.6 745.4 961.6 587.1 992.1 568 995.8 548.6 997.4 529.3 1000H470.7A3820 3820 0 0 1 449.5 997.6C368 988.7 292.2 962.9 224.2 916.8 106.4 837.1 33.9 727.1 7.9 587 4.3 568 2.6 548.6 0 529.3V470.7C0.6 467.9 1.4 465.1 1.6 462.3 6.5 392.6 25 326.5 58.7 265.4 136.4 124.4 254.6 38.4 412.9 7.9 432 4.2 451.4 2.6 470.7 0H529.3C536.4 0.8 543.4 1.6 550.5 2.4 632 11.3 707.8 37.1 775.8 83.2 893.6 162.9 966 272.9 992.1 413 995.7 432.1 997.4 451.5 1000 470.7V529.3C999.4 532.1 998.6 534.8 998.4 537.7ZM500.6 45.3C250.6 44.4 46.3 248.2 45.4 499.4 44.4 749.4 248.2 953.7 499.4 954.6 749.4 955.6 953.7 751.9 954.6 500.6 955.6 250.6 751.8 46.3 500.6 45.3ZM616.5 760H383.5A143.6 143.6 0 0 1 240 616.5V383.5A143.7 143.7 0 0 1 383.5 240H616.5A143.7 143.7 0 0 1 760 383.5V616.5A143.6 143.6 0 0 1 616.5 760ZM713.8 616.5V383.5A97.4 97.4 0 0 0 616.5 286.1H383.5A97.5 97.5 0 0 0 286.1 383.5V616.5A97.5 97.5 0 0 0 383.5 713.8H616.5A97.5 97.5 0 0 0 713.9 616.5H713.8ZM639.6 394.6A34.1 34.1 0 0 1 605.8 360.7 34 34 0 0 1 639.6 326.9 33.8 33.8 0 0 1 639.6 394.6ZM500 634A134.2 134.2 0 0 1 366 500 134.2 134.2 0 0 1 500 366 134.2 134.2 0 0 1 634 500 134.2 134.2 0 0 1 500 634ZM500 412.1A88 88 0 0 0 412.2 500C412.2 548.5 451.6 587.8 500 587.8A87.9 87.9 0 0 0 587.8 500C587.8 451.6 548.4 412.1 500 412.1Z","width":1000}},{"css":"lens","code":59401,"uid":"46e73e85b128ab0bf0c95a656f313149","search":["lens"],"svg":{"path":"M987.8 928.9L747.3 688.6A421.5 421.5 0 0 0 421.4 0 421.4 421.4 0 1 0 688.4 747.6L928.8 987.8A41.7 41.7 0 0 0 987.7 928.9ZM421.4 758.9A337.9 337.9 0 0 1 83.7 421.4 338.1 338.1 0 0 1 421.4 83.7 338.3 338.3 0 0 1 759.2 421.4C759.2 607.6 607.6 758.9 421.4 758.9Z","width":1000}},{"css":"more","code":59402,"uid":"ca473671ea6c2f0611246d8c4ea8e6f2","search":["more"],"svg":{"path":"M488.9 22.2C746.6 22.2 955.6 231.2 955.6 488.9S746.6 955.6 488.9 955.6 22.2 746.6 22.2 488.9 231.2 22.2 488.9 22.2ZM305.6 422.3C272 422.3 244.4 452.2 244.4 488.9 244.4 525.6 272 555.6 305.6 555.6S366.7 525.6 366.7 488.9 339.2 422.3 305.6 422.3ZM672.2 422.3C638.6 422.3 611.1 452.2 611.1 488.9 611.1 525.6 638.6 555.6 672.2 555.6S733.3 525.6 733.3 488.9 705.8 422.3 672.2 422.3ZM488.9 422.3C455.3 422.3 427.8 452.2 427.8 488.9 427.8 525.6 455.3 555.6 488.9 555.6S550 525.6 550 488.9 522.5 422.3 488.9 422.3Z","width":1000}},{"css":"shape-26","code":59403,"uid":"5fd233fe1bafd4256cc7cd2b07e44055","search":["shape-26"],"svg":{"path":"M998.4 537.7C993.5 607.4 975 673.5 941.3 734.6 863.6 875.6 745.4 961.6 587.1 992.1 568 995.8 548.6 997.4 529.3 1000H470.7A3820 3820 0 0 1 449.5 997.6C368 988.7 292.2 962.9 224.2 916.8 106.4 837.1 34 727.1 7.9 587 4.3 568 2.6 548.6 0 529.3V470.7C0.6 467.9 1.4 465.1 1.6 462.3 6.5 392.6 25 326.5 58.7 265.4 136.4 124.4 254.6 38.4 412.9 7.9 432 4.2 451.4 2.6 470.7 0H529.3C536.4 0.8 543.4 1.6 550.5 2.4 632 11.3 707.8 37.1 775.8 83.2 893.6 162.9 966.1 272.9 992.1 413 995.7 432.1 997.4 451.5 1000 470.7V529.3C999.4 532.1 998.6 534.8 998.4 537.7ZM500.6 45.3C250.6 44.4 46.3 248.2 45.4 499.4 44.4 749.4 248.2 953.7 499.4 954.6 749.4 955.6 953.7 751.9 954.6 500.6 955.6 250.6 751.8 46.3 500.6 45.3ZM741.4 691.4C736.4 721.5 709.1 744.8 678.6 746 619.4 748.1 560.2 749.8 500.8 751.8 441.1 749.9 381.3 748.3 321.5 745.9 287.1 744.6 260.6 718 257.6 683.8 255.8 662 253.5 640.4 251.4 618.7 247.4 576.2 253.2 534.2 258.5 492.4 262.2 463 288.7 438.2 318.5 437.4A12574 12574 0 0 1 570.2 433C607.2 432.8 644.3 435.5 681.3 437.4 711.5 439 738.2 464.4 742 494.2 747.8 540.1 752.5 586 748 632.3 746.1 652 744.6 671.9 741.4 691.4ZM397.9 484.4H295.3C295.3 491.5 295.7 498 295.2 504.4 294.8 510.7 297.1 513.1 303.5 512.8 312.1 512.4 320.8 512.7 330.2 512.7V689.1H363.7V512.7H397.9V484.4ZM487.2 535.4H460.1V606.4C460.1 622.6 460.2 638.9 460 655.2 459.9 662.8 449.6 671.6 441.1 671.4 430.9 671.1 431.7 663.6 431.7 656.6 431.8 628 431.7 599.4 431.7 570.8V535.7H402.4V547C402.4 585.7 403.4 624.4 402.1 663.1 401.4 685.3 415.8 698.1 439 688 445.6 685.1 451.8 681.5 458.6 678L459.2 688.9H487.2V535.4ZM597.4 609.7C597.3 592.5 597.2 575.2 595.6 558.1 594 540.7 580.2 531.8 563.5 537 555.8 539.4 548.8 544 540.6 548V484.3H511.1V688.9H540.6L541.7 678.3 545.6 681.4C568.4 700.7 591.4 693.5 596 664.2 598.7 646.4 597.5 627.9 597.4 609.7ZM707 618.8C707 600.2 708 582.6 706.7 565.2A30.1 30.1 0 0 0 686.2 538.7C656.4 527.8 619.3 537.7 619.8 579.8 620.2 604.5 619.5 629.2 620.2 653.9 620.4 660.6 622.9 668.1 626.5 673.8 640.4 695.8 670.5 695.3 686 688.4 704.6 680 712.1 659.8 705.8 637.2H677.8C677.5 643.6 677.6 649.4 676.8 655.2 675.6 662.6 671.6 667.8 663.2 667.8 655 667.8 650.2 662.8 649.8 655.2 649 643.4 649.6 631.4 649.6 618.8H707ZM663.4 560.1C671.1 560.2 675.7 564.6 676.4 571.8 677.2 579.4 676.6 587 676.6 595.2H649.9C649.9 587.3 649.3 579.3 650.1 571.5 650.8 564.2 655.6 560 663.4 560.1ZM552.8 666.4C545.1 665.5 540.5 662.2 540.9 653.3 541.4 640.3 541 627.3 541 614.3H541.1C541.1 600.6 541.4 587 540.9 573.3 540.7 566.4 544.2 563.2 549.8 561.2 555.9 559 561.8 559.7 565 565.9A32.4 32.4 0 0 1 569.2 579.6C569.6 602.7 569.5 625.7 569.2 648.8 569.1 662.1 563.5 667.7 552.8 666.4ZM608.8 394.8C598.2 398.9 588 404 577.3 406.4 564.1 409.4 553 400 552.9 386.7 552.5 349.9 552.8 313.2 552.8 276.4 552.8 275.5 553.3 274.6 553.7 273.4H581.8V370.3C581.8 377.3 580 385.7 591 386.1 599.8 386.5 609.2 377.2 609.2 368.4 609.2 346.2 609.2 324.1 609.2 302V273.4H635.8V404.5H609.9L608.8 394.8ZM490.8 407.4C467.5 409.8 448 399.2 444.5 379.7 442.2 366.8 444 353.2 444 339.8H442.9C442.9 330.4 442.8 321 443 311.6 443.5 288.1 458.1 273.7 481.6 272.8 493.3 272.4 504.3 273.8 513.6 281.9A37 37 0 0 1 526.9 310.1C527.2 330 527.4 349.8 526.8 369.6 526 391.3 512.3 405.1 490.8 407.4ZM498.6 309.7C498.4 299.5 492.8 293.2 484.5 293.4 476.2 293.5 470.8 299.8 470.8 310.2 470.6 330.3 470.6 350.4 470.8 370.6 470.9 380.2 476.6 386.3 484.5 386.5 492.4 386.6 498.3 380.5 498.6 371.1 498.9 360.7 498.6 350.3 498.6 339.9 498.6 329.8 498.8 319.8 498.6 309.7ZM419.7 284.4A194.9 194.9 0 0 0 402.2 383.9C402.8 390.6 402.3 397.4 402.3 404.6H369.5C369.5 385.8 370.2 367.4 369.2 349A114.3 114.3 0 0 0 363.3 317C353 288.3 341.5 260.1 329.9 230.2 340.7 230.2 350.3 229.7 359.8 230.5 362.1 230.7 365 234.7 366 237.5 372.7 256.7 379 276 386.4 297.8 393.2 277.3 399.7 259.4 405.1 241.1 407.6 232.6 411.2 228.5 420.6 229.9 426.2 230.8 432.2 230 439 230 438 233.5 437.5 236.2 436.6 238.8 431 254 426.4 269.7 419.7 284.4Z","width":1000}},{"css":"shopping-sad","code":59404,"uid":"71f1205a476e53a85d897f8bbe7dd358","search":["shopping-sad"],"svg":{"path":"M638.4 1000H147.4C66 1000 0 940.3 0 866.9 0 866 0.2 865.2 0.2 864.4L56.4 219.6A27.1 27.1 0 0 1 83.3 194.5H198.9C200.5 86.9 286.9 0 392.9 0 498.9 0 585.2 86.9 586.8 194.5H702.4C716.3 194.5 728.1 205.3 729.3 219.6L785.5 864.4A9.3 9.3 0 0 1 785.7 866.9C785.7 940.3 719.7 1000 638.4 1000ZM392.9 55.2C316.8 55.2 254.8 117.4 253.1 194.5H532.6C531 117.4 468.9 55.2 392.9 55.2ZM677.5 249.9H586.8V333.7C586.8 349.1 574.8 361.4 559.7 361.4A27.2 27.2 0 0 1 532.6 333.7V249.9H252.9V333.7C252.9 349.1 240.9 361.4 225.8 361.4A27.2 27.2 0 0 1 198.7 333.7V249.9H108L54.2 868.1C55 910.4 96.4 944.8 147.4 944.8H638.4C689.1 944.8 730.7 910.4 731.5 868.1L677.5 249.9ZM553.5 821.5A17.7 17.7 0 0 1 535.6 804C535.6 749.9 489.6 705.5 432.9 705.5H372.6C315 705.5 269.9 748.7 269.9 803.3A17.9 17.9 0 0 1 252 821 17.5 17.5 0 0 1 234.1 803.9C234.1 731.1 296.3 672.3 372.6 672.3H432.9C509.3 672.3 571.4 731.4 571.4 804.6 571.4 814.1 563.4 821.5 553.5 821.5ZM541.3 595.3C498.5 595.3 462.2 559.5 462.2 517.3 462.2 507.7 470.2 500 480.1 500 490 500 498 507.7 498 517.3 498 540.9 517.9 560.8 541.3 560.8 551.2 560.8 559.2 568.5 559.2 578A17.6 17.6 0 0 1 541.3 595.3ZM232.2 594.4A17.6 17.6 0 0 1 214.3 577.1C214.3 567.6 222.3 559.9 232.2 559.9 256.6 559.9 277.4 540.8 277.4 518.2 277.4 508.6 285.4 500.9 295.3 500.9 305.1 500.9 313.1 508.6 313.1 518.2 313.1 559.5 276.1 594.4 232.2 594.4Z","width":786}},{"css":"twitter","code":59405,"uid":"7eacb6917acdc959b08b266b69803e6b","search":["twitter"],"svg":{"path":"M500 999.9C223.9 999.9 0.1 776.1 0.1 500 0.1 223.9 223.9 0.1 500 0.1 776.1 0.1 999.9 223.9 999.9 500 999.9 776.1 776.1 999.9 500 999.9ZM500 45.5C249 45.5 45.5 249 45.5 500 45.5 751 249 954.5 500 954.5S954.4 751 954.4 500C954.4 249 751 45.5 500 45.5ZM714 385.6C714.3 390.6 714.4 395.6 714.4 400.6 714.4 554 603.3 730.8 400.2 730.7A298.2 298.2 0 0 1 230.8 677.6 213 213 0 0 0 394.4 629.4C346.1 628.2 305.2 594 291.2 547.1A103 103 0 0 0 341 545.4C290.5 534.3 252.4 486.4 252.4 429.2V427.8C267.4 436.7 284.3 442.2 302.5 443 272.8 421.6 253.4 385.2 253.4 344.3 253.4 322.7 258.8 302.5 268.3 285.2 322.7 357.3 404.1 405.1 496 411A122 122 0 0 1 493.1 384.4C493.1 319.8 542.6 268.2 603.6 269.2A110 110 0 0 1 684.2 307.3 211.5 211.5 0 0 0 754.3 280.2 113.7 113.7 0 0 1 705.7 343.7 211.9 211.9 0 0 0 769.2 326.3 228 228 0 0 1 714 385.6Z","width":1000}},{"css":"user","code":59406,"uid":"524fb4255d3091489e9d1c6439a75772","search":["user"],"svg":{"path":"M1000 500.1C1000 224.5 775.5 0 499.9 0 224.4 0 0 224.5 0 500.1 0 651.8 68.9 788.4 176 880.1 177.3 881.4 178.6 882.8 181.1 883.9A494.6 494.6 0 0 0 501.3 1000C621.1 1000 732.1 956.7 818.8 886.5A20.1 20.1 0 0 0 830.3 877.5C933.8 784.5 1000 650.5 1000 500.1ZM45.9 500.1C45.9 250 250 46 500.1 46 750.1 46 954.2 250 954.2 500.1 954.2 622.6 905.7 733.4 826.6 815.2 813.9 755.2 775.6 653.1 658.2 586.9 685 553.7 700.3 510.4 700.3 464.4 700.3 354.7 611 265.4 501.3 265.4A199.3 199.3 0 0 0 302.2 464.4C302.2 510.4 318.7 552.4 344.3 586.9 225.8 653.1 187.5 755.2 176.1 815.2A445.4 445.4 0 0 1 45.9 500.1ZM347 465.6A153.5 153.5 0 0 1 500.1 312.5 153.4 153.4 0 0 1 653.1 465.6 153.5 153.5 0 0 1 500.1 618.6 153.5 153.5 0 0 1 347 465.6ZM216.9 854.6C219.4 817.6 239.8 692.6 377.6 622.4A197.6 197.6 0 0 0 500.1 664.5 202.1 202.1 0 0 0 623.8 621.1C760.4 691.3 782 813.7 785.9 853.3A454.6 454.6 0 0 1 501.5 954.1 449.8 449.8 0 0 1 216.9 854.6Z","width":1000}},{"css":"heart-1","code":59407,"uid":"3a661516f9b5f2ff98fac3cf9dd8dca6","search":["heart"],"svg":{"path":"M553.3 983.3L166.7 653.3C90 586.7 36.7 503.3 13.3 410-3.3 346.7 0 306.7 3.3 296.7 20 123.3 150-3.3 313.3 0 406.7 0 496.7 43.3 553.3 116.7 610 43.3 700 0 800 0 963.3 0 1093.3 123.3 1110 296.7 1113.3 310 1116.7 346.7 1100 410 1076.7 503.3 1023.3 586.7 946.7 653.3L553.3 983.3ZM313.3 43.3C313.3 43.3 313.3 43.3 313.3 43.3 173.3 43.3 60 153.3 43.3 300 43.3 306.7 36.7 340 53.3 400 73.3 483.3 123.3 560 193.3 620L550 926.7 913.3 620C983.3 560 1033.3 483.3 1053.3 400 1066.7 343.3 1063.3 306.7 1063.3 303.3L1063.3 303.3C1050 153.3 936.7 43.3 796.7 43.3 703.3 43.3 616.7 90 570 166.7L550 196.7 533.3 166.7C486.7 90 403.3 43.3 313.3 43.3Z","width":1133}}]},"fontelico":{"collapsed":false,"glyphs":[]},"fontawesome":{"collapsed":false,"glyphs":[]},"entypo":{"collapsed":false,"glyphs":[]},"typicons":{"collapsed":false,"glyphs":[]},"iconic":{"collapsed":false,"glyphs":[]},"modernpics":{"collapsed":false,"glyphs":[]},"meteocons":{"collapsed":false,"glyphs":[]},"mfglabs":{"collapsed":false,"glyphs":[]},"maki":{"collapsed":false,"glyphs":[]},"zocial":{"collapsed":false,"glyphs":[]},"brandico":{"collapsed":false,"glyphs":[]},"elusive":{"collapsed":false,"glyphs":[]},"linecons":{"collapsed":false,"glyphs":[]},"websymbols":{"collapsed":false,"glyphs":[]}},"selected_glyphs":["5af1de982dbb8ccf95206d2687911b19","634cfbdb7c1c65bbbd69eb21ae198e53","8aa508c2898f5008c1cc80dbd0f7d4da","a3711d6165ae9d4f0837485259a37a4b","46e73e85b128ab0bf0c95a656f313149","ca473671ea6c2f0611246d8c4ea8e6f2","5fd233fe1bafd4256cc7cd2b07e44055","71f1205a476e53a85d897f8bbe7dd358","7eacb6917acdc959b08b266b69803e6b","524fb4255d3091489e9d1c6439a75772","3a661516f9b5f2ff98fac3cf9dd8dca6"]}]}
*/
@font-face {
  font-family: "fontello";
  src: url("../../assets/fonts/fontello.eot?18422683#iefix") format("embedded-opentype"), url("../../assets/fonts/fontello.woff2?18422683") format("woff2"), url("../../assets/fonts/fontello.woff?18422683") format("woff"), url("../../assets/fonts/fontello.ttf?18422683") format("truetype"), url("../../assets/fonts/fontello.svg?18422683#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?18422683#fontello') format('svg');
    }
  }
  */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-bell:before {
  content: "\e805"; }

/* '' */
.icon-fb:before {
  content: "\e806"; }

/* '' */
.icon-heart:before {
  content: "\e807"; }

/* '' */
.icon-instagrame:before {
  content: "\e808"; }

/* '' */
.icon-lens:before {
  content: "\e809"; }

/* '' */
.icon-more:before {
  content: "\e80a"; }

/* '' */
.icon-shape-26:before {
  content: "\e80b"; }

/* '' */
.icon-shopping-sad:before {
  content: "\e80c"; }

/* '' */
.icon-twitter:before {
  content: "\e80d"; }

/* '' */
.icon-user:before {
  content: "\e80e"; }

/* '' */
.icon-heart-1:before {
  content: "\e80f"; }

/* '' */
@font-face {
  font-family: Panton;
  src: url("../../assets/fonts/Panton/Panton-Regular.otf"); }
@font-face {
  font-family: Frutiger;
  src: url("../../assets/fonts/FrutigerLTArabic/FrutigerLTArabic-55Roman.ttf"); }
body,
.ui.menu,
.ui.header,
button,
input,
optgroup,
select,
textarea,
h1,
h2,
h3,
h4,
h5 {
  font-family: Panton; }

.ar {
  font-family: Frutiger; }

/*# sourceMappingURL=base-dir.css.map */
