
@font-face {
  font-family: "fontello";
  src: url("../../assets/fonts/fontello.eot?18422683#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/fontello.woff2?18422683") format("woff2"),
    url("../../assets/fonts/fontello.woff?18422683") format("woff"),
    url("../../assets/fonts/fontello.ttf?18422683") format("truetype"),
    url("../../assets/fonts/fontello.svg?18422683#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-compare:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-inst:before { content: '\e803'; } /* '' */
.icon-googleplus:before { content: '\e804'; } /* '' */
.icon-bell:before { content: '\e805'; } /* '' */
.icon-fb:before { content: '\e806'; } /* '' */
.icon-heart:before { content: '\e807'; } /* '' */
.icon-instagrame:before { content: '\e808'; } /* '' */
.icon-lens:before { content: '\e809'; } /* '' */
.icon-more:before { content: '\e80a'; } /* '' */
.icon-shape-26:before { content: '\e80b'; } /* '' */
.icon-shopping-sad:before { content: '\e80c'; } /* '' */
.icon-twitter:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-heart-1:before { content: '\e80f'; } /* '' */