@import "mixins";

@font-face {
  font-family: Panton;
  src: url("../../assets/fonts/Panton/Panton-Regular.otf");
}
@font-face {
  font-family: Frutiger;
  src: url("../../assets/fonts/FrutigerLTArabic/FrutigerLTArabic-55Roman.ttf");
}
@font-face {
  font-family: HelveticaNeue;
  src: url("../../assets/fonts/HelveticaNeue/HelveticaNeueLTPro-Md.otf");
}
html {
  font-size: 16px !important;
}
body,
.ui.menu,
.ui.header,
button,
input,
optgroup,
select,
textarea,
span {
  font-family: 'HelveticaNeue';
}
.ar {
  font-family: Frutiger;
}
